@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/*monkeytype*/
:root {
    --primary-text-color: #ffffff;
    --secondary-text-color: #929292;
    --accent-color: #ffd52d;
    --accent-color-dark: #a88e23;
    --primary-bg-color: #242424;
    --secondary-bg-color: #303030;
    --heart: #f05542;
} 

*{
    transition: background .3s, color .3s;
}

html {
    overflow: hidden;
}

.classification {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent-color-dark);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
  }

body {
    margin: 0;
    padding: 0px;
    font-family: "Lexend", serif;
    color: var(--primary-text-color);
}
i {
    cursor: pointer;
}
.whole-page {
    display: flex;
    width: 100vw;
    height: 100%;
    background: var(--primary-bg-color);
}

.header {
    width: 100vw;
    height: 145px;
    box-sizing: border-box;
    background: var(--primary-bg-color);
    display: flex;
    align-items: end;
}

.menu-bar{
    width: 20vw;
    height: 85vh;
    background: var(--primary-bg-color);
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
}

.menu-btn {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
    padding: 15px;
    color: var(--primary-text-color);
    border-radius: 10px;
    gap: 20px;
}

.menu-btn i{
    color: var(--accent-color);
}

.menu-btn:hover {
    background: var(--secondary-bg-color);
}
.menu-btn-selected {
    outline: 3px solid var(--accent-color);
    background: var(--secondary-bg-color);
}

.playlist-list {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 120px;
}

.playlist-card {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.playlist-card-art {
    border-radius: 8px;
    width: 45px;
    height: 45px;
    background: var(--primary-text-color);
    display: flex;
}

.main-center {
    width: 76vw;
    height: 85vh;
    background: var(--primary-bg-color);
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.class-line
{
    width: 100%;
    height: 3px;
    background: var(--primary-text-color);
    opacity: 100%;
    border-radius: 5px;
}
.class-line-change {
    width: 100px;
    height: 3px;
    background-color: var(--accent-color);
    opacity: 100%;
    border-radius: 5px;
    transition: transform .2s ease-in-out;

}
.classes {
    box-sizing: border-box;
    margin-top: 10px;
    display: flex;
}

.classi{
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
    text-align: center;
    color: var(--primary-text-color);
    font-size: 16px;
    transition: color .2s ease-in-out;
    cursor: pointer;
}

.active-class{
    color: var(--accent-color);
}

.list-holder{
    position: relative;
}

.songlist {
    margin-top: 30px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: fit-content;
    display: block;
    opacity: 100%;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
    overflow-y: auto;
    max-height: 65vh;
}
.song-card {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 60px;
    color: var(--primary-text-color);
    font-weight: 400;
    margin-bottom: 2px;
    border-radius: 10px;
    margin-bottom: 5px;  
    cursor: context-menu;
}

.song-card:hover {
    background: var(--secondary-bg-color); 
}

.song-card-selected {
    background: var(--secondary-bg-color);
    outline: 3px solid var(--accent-color);
}

.song-card-no-hover {
    margin: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 60px;
    color: var(--primary-text-color);
    font-weight: 400;
    margin-bottom: 2px;
    border-radius: 10px;
    opacity: 100%;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.song-card-art {
    border-radius: 8px;
    width: 45px;
    height: 45px;
    background: var(--primary-text-color);
    display: flex;
}

.song-card-song-name {
    font-size: 16px;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
}

.song-card-artist-name {
    font-size: 16px;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    color: var(--secondary-text-color); 
}

.song-card-album-name {
    font-size: 16px;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    color: var(--secondary-text-color);
}

.song-card-timestamp {
    font-size: 16px;
    width: 6%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: left;
    color: var(--secondary-text-color);
}

.song-card-icons {
    margin-left: 20px;
    display: flex;
    gap: 35px;
    box-sizing: border-box;
    color: var(--accent-color);
    width: 15%;
    justify-content: flex-end;
}

.artistlist {
    position: absolute;
    width: 100%;
    display: none;
    grid-template-columns: repeat( auto-fit, minmax(210px, 1fr) );
    gap: 20px;
    margin-top:20px;
    box-sizing: border-box;
    padding: 10px;
    height: fit-content;
    opacity: 0;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
    overflow-y: auto;
    max-height: 65vh;
}
.artist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 30px;
    border-radius: 20px;

}
.artist-card:hover {
    background: var(--secondary-bg-color);
    
}

.artist-card-name {
    width: 150px;
}
.artist-card-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;

}

.albumlist {
    position: absolute;
    width: 100%;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    height: fit-content;
    opacity: 0;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.album-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.album-card-disp {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    cursor: pointer;
    padding: 30px;
    border-radius: 20px;
}

.album-img {
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.album-name {
    text-align: center;
}

.album-card-songs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.album-song-card {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 60px;
    color: var(--primary-text-color);
    font-weight: 400;
    margin-bottom: 2px;
    border-radius: 10px;
    margin-bottom: 5px; 
}

.album-song-selected {
    background: var(--secondary-bg-color);
    outline: 3px solid var(--accent-color);
}

.album-song-card:hover {
    background: var(--secondary-bg-color);
}

.album-song-card-art {
    border-radius: 8px;
    width: 45px;
    height: 45px;
    background: var(--primary-text-color);
    display: flex;
}

.album-song-card-icons {
    display: flex;
    gap: 35px;
    box-sizing: border-box;
    color: var(--accent-color);
    width: 20%;
    justify-content: flex-end;
}

.album-song-card-timestamp {
    font-size: 16px;
    width: 10%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: right;
    color: var(--secondary-text-color);
}

.album-song-card-artist-name {
    font-size: 16px;
    width: 30%;
    box-sizing: border-box;
    padding: 20px;
    color: var(--secondary-text-color); 
}

.album-song-card-song-name {
    font-size: 16px;
    width: 35%;
    box-sizing: border-box;
    padding: 20px;
}

.album-play {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--accent-color);
    display: flex;
    color: var(--primary-bg-color);
    align-items: center;
    justify-content: center;
    display: none;
}

.album-card-disp:hover {
    background: var(--secondary-bg-color);
}

.album-card-disp:hover .album-play{
    display: flex;
    cursor: pointer;
}


/*idk if this much is necessary but nvm*/

.song-card-art-title {
    width: 45px;
    height: 45px;
}

.song-card-title {
    font-size: 16px;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    color: var(--primary-text-color);
}

.song-card-time-title {
    font-size: 16px;
    width: 6%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
}

/*this rubbish ends here*/

.logo-holder {
    width: 20vw;
    background: var(--primary-bg-color);
    height: 80%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 2.2vw;
    margin: 0;
}

.tagline {
    color: var(--accent-color);
    font-size: .8vw;
}

.search-bar-holder {
    width: 60vw;
    background: var(--primary-bg-color);
    height: 80%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.profile-holder {
    width: 20vw;
    background: var(--primary-bg-color);
    height: 80%;
    
}

.search-bar {
    width: 50%;
    height: 50px;
    background: var(--secondary-bg-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 5px;
    color: var(--secondary-text-color);
    
}

.input {
    outline: none;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: none;
    box-sizing: border-box;
    font-size: 20px;
    outline: none;
    border: none;
    font-family: "Lexend", serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary-text-color);
}

.music-player-holder {
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    box-shadow: 0px -65px 161px 200px rgba(3, 3, 3, 0.158);
    overflow: hidden;
}

.music-player-art {
    border-radius: 8px;
    width: 45px;
    height: 45px;
    background: var(--primary-text-color);
    display: flex;
}

.music-player-song-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    justify-content: center;
    text-align: left;
    box-sizing: border-box;
}

.music-player-artist-name {
    color: var(--secondary-text-color);
}

.music-player-icon {
    width: fit-content;
    gap: 10px;
    display: flex;
    align-items: center;
}

.music-player-play-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-tracker-holder {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background: var(--primary-text-color);
    position: relative;
}
.update-bar {
    width: 0%;
    height: 4px;
    background: var(--accent-color);
    position: relative;
}
.progress-circle {
    width: 12px;
    height: 12px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 0;
}

.music-player-timestamp {
    display: flex;
    width: fit-content;
}

.music-player-audio-controller {
    color: var(--accent-color);
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.audio-bar {
    width: 150px;
    height: 4px;
    background: var(--primary-text-color);
    position: relative;
}

.audio-update-bar {
    width: 50%;
    height: 4px;
    background: var(--accent-color);
    position: relative;
}

.audio-progress-circle {
    width: 12px;
    height: 12px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 0;
}

.music-player-end-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--accent-color);
}

.music-player-end-icons div {
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.repeat-active {
    outline: 2px solid var(--accent-color);
}

.relative-holder {
    width: 100%;
    position: absolute;
}

.classification {
    opacity: 1;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}
.list-holder {
    opacity: 1;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.artist-page, .album-page {
    position: absolute;
    width: 100%;
    display: none;
    opacity: 0;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.artist-info-card-holder, .album-info-card-holder {
    display: flex;
    gap: 20px;
    border-radius: 20px;
    background: var(--secondary-bg-color);
    box-sizing: border-box;
    padding: 40px;
}

.artist-info-card-image, .album-info-card-image{
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.artist-info-card, .album-info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.artist-name-artist-card, .album-name-album-card {
    font-size: 40px;
}

.artist-card-play, .album-card-play {
    display: flex;
    align-items: center;
    gap: 10px;
}

.artist-play-icon, .album-play-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.artist-song-list, .album-song-list  {
    padding-top: 20px;
}

.back-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.back-icon-holder {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-heart {
    color: var(--heart);
}


.feed {
    opacity: 1;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.queue {
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
    height: 100%;
    width: 100%;
}

.big-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.songs-left , .minutes-left{
    width: 300px;
    height: 160px;
    border-radius: 20px;
    background: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
}

#song-count, #minute-count {
    font-size: 50px;
    color: var(--primary-text-color);
}

.icon-queue {
    height: 160px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.download-queue , .play-queue{
    
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.download-queue > i , .play-queue > i {
    color:var(--accent-color);
}

.queuelist {
    position: relative;
    display: block;
    padding: 10px;
    height: fit-content;
    overflow-y: auto;
    max-height: 47vh;
}

.queue-Item:hover {
    cursor: move;
}

.themes {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: none;
    /*grid-template-columns: repeat(4, 300px);*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows:45px;
    gap: 5px;
    opacity: 0;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.theme-choice {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.theme-choice:hover {
    transform: scale(1.1);
}

.theme-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

@media only screen and (max-width: 1590px) {
    .song-card-album-name{
        display: none;
    }

    .song-card-song-name{
        width: 30%;
    }

    .song-card-artist-name{
        width: 30%;
    }

    .song-card-timestamp{
        width: 15%;
    }
}


@media only screen and (max-width: 1300px) {

    .main-center{
        width: 85%;
    }
    .menu-btn span{
        display: none;
    }
    .menu-btn {
        width: fit-content;
    }

    .playlist-card-name {
        display: none;
    }

    .playlist-card {
        width: fit-content;
    }
    .menu-bar {
        width: fit-content;
    }
    .song-card-timestamp{
        width: 20%;
    }
}

@media only screen and (max-width: 900px) {
    .song-card-song-name{
        width: 50%;
    }

    .song-card-artist-name{
        display: none;
    }
    .song-card-timestamp{
        width: 20%;
    }
    .song-card-icons {
        width: 25%;
    }
}

@media only screen and (max-width: 750px) {
    
    .song-card-song-name{
        width: 40%;
    }
    .song-card-icons {
        width: 30%;
    }

}

@media only screen and (max-width: 650px) {
    
    .song-card-timestamp{
        display: none;
    }
    .song-card-song-name{
        width: 45%;
    }
    .song-card-icons {
        width: 45%;
    }

}



.no-for-now {
    display: none;
}
