@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
body {
    margin: 0;
    padding: 0px;
    font-family: "Lexend", serif;
    color: white;

}
i {
    cursor: pointer;
}
.whole-page {
    display: flex;
    width: 100vw;
    height: 80vh;
    background: #242424;
}

.header {
    width: 100vw;
    height: 15vh;
    box-sizing: border-box;
    background: #242424;
    display: flex;
    align-items: end;
}

.menu-bar{
    width: 20vw;
    height: 85vh;
    background: #242424;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
}

.menu-btn {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
    padding: 15px;
    color: white;
    border-radius: 10px;
    gap: 20px;
}

.menu-btn:hover {
    background: #303030;
}
.menu-btn-selected {
    outline: 3px solid #ffd52d;
    background: #303030;
}

.playlist-list {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 120px;
}

.playlist-card {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.playlist-card-art {
    border-radius: 8px;
    width: 45px;
    height: 45px;
    background: white;
    display: flex;
}

.main-center {
    width: 76vw;
    height: 85vh;
    background: #242424;
    box-sizing: border-box;
    padding: 10px;
}
.right-bar {
    width: 20vw;
    height: 85vh;
    background: white;
    display: none;
    flex-direction: column;
}

.song-details {
    height: 50%;
    width: 100%;
    background: pink;
}

.queue-holder {
    height: 50%;
    width: 100%;
    background: blue;
}

.class-line
{
    width: 100%;
    height: 3px;
    background: white;
    opacity: 100%;
    border-radius: 5px;
}
.class-line-change {
    width: 100px;
    height: 3px;
    background-color: #ffd52d;
    opacity: 100%;
    border-radius: 5px;
    transition: transform .2s ease-in-out;

}
.classes {
    box-sizing: border-box;
    margin-top: 10px;
    display: flex;
}

.classi{
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
    text-align: center;
    color: white;
    font-size: 16px;
    transition: color .2s ease-in-out;
    cursor: pointer;
}

.active-class{
    color: #ffd52d;
}

.list-holder{
    position: relative;
}

.songlist {
    position: absolute;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px;
    height: fit-content;
    display: block;
    opacity: 100%;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}
.song-card {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 60px;
    color: white;
    font-weight: 400;
    margin-bottom: 2px;
    border-radius: 10px;
    margin-bottom: 5px;  
}

.song-card:hover {
    background: #303030; 
}

.song-card-selected {
    background: #303030;
    outline: 3px solid #ffd52d;
}

.song-card-no-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 60px;
    color: white;
    font-weight: 400;
    margin-bottom: 2px;
    border-radius: 10px;
}

.song-card-art {
    border-radius: 8px;
    width: 45px;
    height: 45px;
    background: white;
    display: flex;
}

.song-card-song-name {
    font-size: 16px;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
}

.song-card-artist-name {
    font-size: 16px;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    color: #929292; 
}

.song-card-album-name {
    font-size: 16px;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    color: #929292;
}

.song-card-timestamp {
    font-size: 16px;
    width: 6%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: left;
    color: #929292;
}

.song-card-icons {
    display: flex;
    gap: 35px;
    box-sizing: border-box;
    color: #ffd52d;
    width: 15%;
    justify-content: flex-end;
}

.artistlist {
    position: absolute;
    width: 100%;
    display: none;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-top:20px;
    box-sizing: border-box;
    padding: 10px;
    height: fit-content;
    opacity: 0;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}
.artist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 30px;
    border-radius: 20px;

}
.artist-card:hover {
    background: #303030;
    
}

.artist-card-name {
    width: 150px;
}
.artist-card-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;

}

.albumlist {
    position: absolute;
    width: 100%;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    height: fit-content;
    opacity: 0;
    transition: opacity .3s ease-in-out, display .3s ease-in-out;
}

.album-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.album-card-disp {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    cursor: pointer;
    padding: 30px;
    border-radius: 20px;
}

.album-img {
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.album-name {
    text-align: center;
}

.album-card-songs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.album-song-card {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 60px;
    color: white;
    font-weight: 400;
    margin-bottom: 2px;
    border-radius: 10px;
    margin-bottom: 5px; 
}

.album-song-selected {
    background: #303030;
    outline: 3px solid #ffd52d;
}

.album-song-card:hover {
    background: #303030;
}

.album-song-card-art {
    border-radius: 8px;
    width: 45px;
    height: 45px;
    background: white;
    display: flex;
}

.album-song-card-icons {
    display: flex;
    gap: 35px;
    box-sizing: border-box;
    color: #ffd52d;
    width: 20%;
    justify-content: flex-end;
}

.album-song-card-timestamp {
    font-size: 16px;
    width: 10%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: right;
    color: #929292;
}

.album-song-card-artist-name {
    font-size: 16px;
    width: 30%;
    box-sizing: border-box;
    padding: 20px;
    color: #929292; 
}

.album-song-card-song-name {
    font-size: 16px;
    width: 35%;
    box-sizing: border-box;
    padding: 20px;
}

.album-play {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffd52d;
    display: flex;
    color: #242424;
    align-items: center;
    justify-content: center;
    display: none;
}

.album-card-disp:hover {
    background: #303030;
}

.album-card-disp:hover .album-play{
    display: flex;
    cursor: pointer;
}


/*idk if this much is necessary but nvm*/

.song-card-art-title {
    width: 45px;
    height: 45px;
}

.song-card-title {
    font-size: 16px;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    color: white;
}

.song-card-time-title {
    font-size: 16px;
    width: 6%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
}

/*this rubbish ends here*/

.logo-holder {
    width: 20vw;
    background: #242424;
    height: 80%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 2.2vw;
    margin: 0;
}

.tagline {
    color: #ffd52d;
    font-size: .8vw;
}

.search-bar-holder {
    width: 60vw;
    background: #242424;
    height: 80%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.profile-holder {
    width: 20vw;
    background: #242424;
    height: 80%;
    
}

.search-bar {
    width: 50%;
    height: 50px;
    background: #303030;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 5px;
    color: #929292;
    
}

.input {
    outline: none;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: none;
    box-sizing: border-box;
    font-size: 20px;
    outline: none;
    border: none;
    font-family: "Lexend", serif;
    font-weight: 500;
    font-size: 16px;
    color: #929292;
}

.music-player-holder {
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: #303030;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.music-player-art {
    border-radius: 8px;
    width: 45px;
    height: 45px;
    background: white;
    display: flex;
}

.music-player-song-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    justify-content: center;
    text-align: left;
    box-sizing: border-box;
}

.music-player-icon {
    width: fit-content;
    gap: 10px;
    display: flex;
    align-items: center;
}

.music-player-play-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #ffd52d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-tracker-holder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background: white;
    position: relative;
}
.update-bar {
    width: 50%;
    height: 4px;
    background: #ffd52d;
    position: relative;
}
.progress-circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 0;
}

.music-player-timestamp {
    display: flex;
    width: fit-content;
}

.music-player-audio-controller {
    color: #ffd52d;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.audio-bar {
    width: 150px;
    height: 4px;
    background: white;
    position: relative;
}

.audio-update-bar {
    width: 50%;
    height: 4px;
    background: #ffd52d;
    position: relative;
}

.audio-progress-circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 0;
}

.music-player-end-icons {
    display: flex;
    gap: 30px;
    color: #ffd52d;
}