<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Medplay</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename="img/M.png")}}">
  <script src="https://kit.fontawesome.com/ecaf831147.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css")}}">

</head>
<body>
  <div class="header">
    <div class="logo-holder">
      <h1 class="title">Medplay</h1>
      <h1 class="title title-small">M</h1>
      <span class="tagline">Adfree Modern Music Player</span>
    </div>
    <div class="search-bar-holder">
      <div class="search-bar">
        <i class="fa fa-search"></i>
        <input type="text" class="input" name="txt" id="search-query"></input>
      </div>
    </div>
    <div class="profile-holder"></div>
  </div>
  <div class="whole-page" id="whole-page"> 
    <div class="menu-bar">
      <div class="feed-btn menu-btn menu-btn-selected" id="feed-btn" onclick="displayFeed()">
        <i class="fa-solid fa-music"></i>
        <span>Feed</span>
      </div>
      <div class="queue-btn menu-btn" id="queue-btn" onclick="displayQueue()">
        <i class="fa-solid fa-list"></i>
        <span>Queue</span>
      </div>
      <div class="favourites-btn menu-btn" id="favourites-btn" onclick="displayFavourites()">
        <i class="fa-regular fa-heart"></i>
        <span>Favourites</span>
      </div>
      <div class="themes-btn menu-btn" id="themes-btn" onclick="displayThemes()">
        <i class="fa-solid fa-paintbrush"></i>
        <span>Themes</span>
      </div>
      <div class="playlists-btn menu-btn no-for-now" id="playlists-btn" onclick="displayPlaylists()">
        <i class="fa-solid fa-radio"></i>
        <span>Your Playlists</span>
      </div>
      <div class="playlist-list no-for-now">
        
        <div class="playlist-card">
          <img src="{{ url_for('static', filename="img/song art.jpg")}}" class="playlist-card-art">
          <span class="playlist-card-name">Playlist name can be this</span>
        </div>

        <div class="playlist-card">
          <img src="{{ url_for('static', filename="img/song art.jpg")}}" class="playlist-card-art">
          <span class="playlist-card-name">Playlist name can be this</span>
        </div>

        <div class="playlist-card">
          <img src="{{ url_for('static', filename="img/song art.jpg")}}" class="playlist-card-art">
          <span class="playlist-card-name">Playlist name can be this</span>
        </div>

        <div class="playlist-card">
          <img src="{{ url_for('static', filename="img/song art.jpg")}}" class="playlist-card-art">
          <span class="playlist-card-name">Playlist name can be this</span>
        </div>

        <div class="playlist-card">
          <img src="{{ url_for('static', filename="img/song art.jpg")}}" class="playlist-card-art">
          <span class="playlist-card-name">Playlist name can be this</span>
        </div>

      </div>

    </div>
    <div class="main-center">
      <div class="feed" id="feed">
        <div class="relative-holder">
          <div class="classification" id="classification">
            <div class="class-line">
              <div class="class-line-change" id="class-line-change"></div>
            </div>
            <div class="classes">
              <div class="classi active-class" id="class-song" onclick="songPage()">Songs</div>
              <div class="classi" id="class-artist" onclick="artistPage()">Artists</div>
              <div class="classi" id="class-album" onclick="albumPage()">Albums</div>
            </div>
          </div>
          <div class="list-holder" id="list-holder">            
            <div class="songlist" id="songlist">
              <p> No Songs Found </p>
            </div>
            <div class="artistlist" id="artistlist">
    
              <div class="artist-card" onclick="artistSongPage()">
                <img class="artist-card-img" src="{{ url_for('static', filename="img/song art.jpg")}}">
                <span class="artist-card-name">Artist Name can be this</span>
              </div>
    
              <div class="artist-card" onclick="artistSongPage()">
                <img class="artist-card-img" src="{{ url_for('static', filename="img/song art.jpg")}}">
                <span class="artist-card-name">Artist Name can be this</span>
              </div>
    
              <div class="artist-card" onclick="artistSongPage()">
                <img class="artist-card-img" src="{{ url_for('static', filename="img/song art.jpg")}}">
                <span class="artist-card-name">Artist Name can be this</span>
              </div>
    
              <div class="artist-card" onclick="artistSongPage()">
                <img class="artist-card-img" src="{{ url_for('static', filename="img/song art.jpg")}}">
                <span class="artist-card-name">Artist Name can be this</span>
              </div>
              
              <div class="artist-card" onclick="artistSongPage()">
                <img class="artist-card-img" src="{{ url_for('static', filename="img/song art.jpg")}}">
                <span class="artist-card-name">Artist Name can be this</span>
              </div>
  
              <div class="artist-card" onclick="artistSongPage()">
                <img class="artist-card-img" src="{{ url_for('static', filename="img/song art.jpg")}}">
                <span class="artist-card-name">Artist Name can be this</span>
              </div>
    
              <div class="artist-card" onclick="artistSongPage()">
                <img class="artist-card-img" src="{{ url_for('static', filename="img/song art.jpg")}}">
                <span class="artist-card-name">Artist Name can be this</span>
              </div>
  
              <div class="artist-card" onclick="artistSongPage()">
                <img class="artist-card-img" src="{{ url_for('static', filename="img/song art.jpg")}}">
                <span class="artist-card-name">Artist Name can be this</span>
              </div>
  
              <div class="artist-card" onclick="artistSongPage()">
                <img class="artist-card-img" src="{{ url_for('static', filename="img/song art.jpg")}}">
                <span class="artist-card-name">Artist Name can be this</span>
              </div>
    
              <div class="artist-card" onclick="artistSongPage()">
                <img class="artist-card-img" src="{{ url_for('static', filename="img/song art.jpg")}}">
                <span class="artist-card-name">Artist Name can be this</span>
              </div>
  
              <div class="artist-card" onclick="artistSongPage()">
                <img class="artist-card-img" src="{{ url_for('static', filename="img/song art.jpg")}}">
                <span class="artist-card-name">Artist Name can be this</span>
              </div>
  
              <div class="artist-card" onclick="artistSongPage()">
                <img class="artist-card-img" src="{{ url_for('static', filename="img/song art.jpg")}}">
                <span class="artist-card-name">Artist Name can be this</span>
              </div>
    
            </div>
            <div class="albumlist" id="albumlist">
            </div>
          
        </div>
        
        </div>
        <div class="artist-page" id="artist-page">
          <div class="back-icon-holder">
            <div class="back-icon" id="artist-song-page-back" onclick="artistSongPageBack()">
              <i class="fa-solid fa-caret-left"></i>
            </div>
            <span>Back</span>
          </div>
          <div class="artist-info-card-holder">
            <img class="artist-info-card-image" src="{{ url_for('static', filename="img/song art.jpg")}}">
            <div class="artist-info-card">
              <span>Artist</span>
              <span class="artist-name-artist-card">Artist Name can be this long</span>
              <div class="artist-card-play">
                <div class="artist-play-icon">
                  <i class="fa-solid fa-play"></i>
                </div>
                <span>Play all songs</span>
              </div>
            </div>
          </div>
          <div class="artist-song-list">
  
            <div class="song-card">
              <img class="song-card-art" src="{{ url_for('static', filename="img/song art.jpg")}}" alt="">
              <span class="song-card-song-name">Song Name will be this long</span>
              <span class="song-card-artist-name">Artist Name can be this long</span>
              <span class="song-card-album-name">Album Name can be this long</span>
              <span class="song-card-timestamp">00:00</span>
              <div class="song-card-icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-play"></i>
                <i class="fa-solid fa-download"></i>
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
  
            <div class="song-card">
              <img class="song-card-art" src="{{ url_for('static', filename="img/song art.jpg")}}" alt="">
              <span class="song-card-song-name">Song Name will be this long</span>
              <span class="song-card-artist-name">Artist Name can be this long</span>
              <span class="song-card-album-name">Album Name can be this long</span>
              <span class="song-card-timestamp">00:00</span>
              <div class="song-card-icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-play"></i>
                <i class="fa-solid fa-download"></i>
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
  
            <div class="song-card">
              <img class="song-card-art" src="{{ url_for('static', filename="img/song art.jpg")}}" alt="">
              <span class="song-card-song-name">Song Name will be this long</span>
              <span class="song-card-artist-name">Artist Name can be this long</span>
              <span class="song-card-album-name">Album Name can be this long</span>
              <span class="song-card-timestamp">00:00</span>
              <div class="song-card-icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-play"></i>
                <i class="fa-solid fa-download"></i>
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
  
            <div class="song-card">
              <img class="song-card-art" src="{{ url_for('static', filename="img/song art.jpg")}}" alt="">
              <span class="song-card-song-name">Song Name will be this long</span>
              <span class="song-card-artist-name">Artist Name can be this long</span>
              <span class="song-card-album-name">Album Name can be this long</span>
              <span class="song-card-timestamp">00:00</span>
              <div class="song-card-icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-play"></i>
                <i class="fa-solid fa-download"></i>
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
  
          </div>
        </div>

        <div class="album-page" id="album-page">
          <div class="back-icon-holder">
            <div class="back-icon" id="album-song-page-back" onclick="albumSongPageBack()">
              <i class="fa-solid fa-caret-left"></i>
            </div>
            <span>Back</span>
          </div>
          <div class="album-info-card-holder">
            <img class="album-info-card-image" src="{{ url_for('static', filename="img/song art.jpg")}}">
            <div class="album-info-card">
              <span>Album</span>
              <span class="album-name-album-card">Album Name can this long</span>
              <div class="album-card-play">
                <div class="album-play-icon">
                  <i class="fa-solid fa-play"></i>
                </div>
                <span>Play all songs</span>
              </div>
            </div>
          </div>
          <div class="album-song-list">
  
            <div class="song-card">
              <img class="song-card-art" src="{{ url_for('static', filename="img/song art.jpg")}}" alt="">
              <span class="song-card-song-name">Song Name will be this long</span>
              <span class="song-card-artist-name">Artist Name can be this long</span>
              <span class="song-card-album-name">Album Name can be this long</span>
              <span class="song-card-timestamp">00:00</span>
              <div class="song-card-icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-play"></i>
                <i class="fa-solid fa-download"></i>
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
  
            <div class="song-card">
              <img class="song-card-art" src="{{ url_for('static', filename="img/song art.jpg")}}" alt="">
              <span class="song-card-song-name">Song Name will be this long</span>
              <span class="song-card-artist-name">Artist Name can be this long</span>
              <span class="song-card-album-name">Album Name can be this long</span>
              <span class="song-card-timestamp">00:00</span>
              <div class="song-card-icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-play"></i>
                <i class="fa-solid fa-download"></i>
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
  
            <div class="song-card">
              <img class="song-card-art" src="{{ url_for('static', filename="img/song art.jpg")}}" alt="">
              <span class="song-card-song-name">Song Name will be this long</span>
              <span class="song-card-artist-name">Artist Name can be this long</span>
              <span class="song-card-album-name">Album Name can be this long</span>
              <span class="song-card-timestamp">00:00</span>
              <div class="song-card-icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-play"></i>
                <i class="fa-solid fa-download"></i>
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
  
            <div class="song-card">
              <img class="song-card-art" src="{{ url_for('static', filename="img/song art.jpg")}}" alt="">
              <span class="song-card-song-name">Song Name will be this long</span>
              <span class="song-card-artist-name">Artist Name can be this long</span>
              <span class="song-card-album-name">Album Name can be this long</span>
              <span class="song-card-timestamp">00:00</span>
              <div class="song-card-icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-play"></i>
                <i class="fa-solid fa-download"></i>
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
  
          </div>
        </div>

      </div>
      <div class="queue" id="queue">
        <div class="big-box">
          <div class="songs-left">
            <span id="song-count">0</span>
            <span>Songs</span>
          </div>
          <div class="minutes-left">
            <span id="minute-count">00:00</span>
            <span>Duration</span>
          </div>
          <div class="icon-queue">
            <div class="download-queue">
              <i class="fa-solid fa-download"></i>
              <span>Download Queue</span>
            </div>
            <div class="play-queue" onclick="playNextInQueue()">
              <i class="fa-solid fa-play"></i>
              <span>Play Queue</span>
            </div>
          </div>
        </div>
        <div class="queuelist" id="queue-list">

          <span>No songs in queue</span>
        </div>
      </div>
      <div class="favourites" id="favourites">
        <div class="big-box-fav">
          <div class="songs-left-fav">
            <span id="song-count-fav">0</span>
            <span>Songs</span>
          </div>
          <div class="minutes-left-fav">
            <span id="minute-count-fav">00:00</span>
            <span>Duration</span>
          </div>
          <div class="icon-fav">
            <div class="download-fav">
              <i class="fa-solid fa-download"></i>
              <span>Download favourites</span>
            </div>
            <div class="play-fav" onclick="">
              <i class="fa-solid fa-play"></i>
              <span>Play favourites</span>
            </div>
          </div>
        </div>
        <div class="favlist" id="fav-list">

          <span>No songs in favourites</span>
        </div>
      </div>
      <div class="themes" id="themes"></div>
    </div>
  </div>
</body>


<div class="music-player-holder">

  <div class="music-player-art-holder">
    <img id="player-album-art" src="{{ url_for('static', filename="img/plc.png")}}" class="music-player-art">
  </div>

  <div class="music-player-song-details">
    <span id="player-song-name" class="music-player-song-name">Song name</span>
    <span id="player-artist-name" class="music-player-artist-name"> Artist name</span>
  </div>

  <div class="music-player-icon">
    <i class="fas fa-backward"></i>
    <div class="music-player-play-icon" onclick="playPause()">
      <i id="play-icon" class="fa-solid fa-play"></i>
    </div>
    <i class="fas fa-forward" onclick="playNextInQueue()"></i>
  </div>

  <div class="progress-tracker-holder" onclick="seek(event)">
    <div class="progress-bar">
      <div id="progress" class="update-bar"></div>
      <div id="progress-circle" class="progress-circle"></div>
    </div>
  </div>

  <div class="music-player-timestamp">
    <span id="current-time">0:00</span> / <span id="duration">0:00</span>
  </div>

  <div class="music-player-audio-controller">
    <i class="fa-solid fa-volume-high"></i>
    <div class="audio-bar">
      <div class="audio-update-bar"></div>
      <div class="audio-progress-circle"></div>
    </div>
  </div>

  <div class="music-player-end-icons">
    <div><i class="fa-regular fa-heart" id="player-heart" ></i></div>
    <div id="repeat-icon"><i class="fa-solid fa-repeat" onclick="repeatSong()"></i></div>
    <div><i class="fa-solid fa-download" id="player-download-icon"></i></div>
    <div><i class="fa-solid fa-sliders" onclick="eqbtn()"></i></div>
  </div>

</div>


<!--eq starts here-->
<div class="eq-holder" id="eq-holder">
  <span class="eq-title">Equalizer</span>
  <div class="slider-holders">
      <div class="slider-container db">
          <span>20 dB</span>
          <span>10 dB</span>
          <span>0 dB</span>
          <span>-10 dB</span>
          <span>-20 dB</span>
      </div>
      <div class="slider-container">
          <label>62 Hz</label>
          <input type="range" id="bass" class="slider" min="-20" max="20" value="0">
      </div>
      <div class="slider-container">
        <label>125 Hz</label>
        <input type="range" id="bass2" class="slider" min="-20" max="20" value="0">
    </div>
      <div class="slider-container">
          <label>250 Hz</label>
          <input type="range" id="lowMid" class="slider" min="-20" max="20" value="0">
      </div>
      <div class="slider-container">
          <label>500 Hz</label>
          <input type="range" id="mid" class="slider" min="-20" max="20" value="0">
      </div>
      <div class="slider-container">
          <label>1 kHz</label>
          <input type="range" id="highMid" class="slider" min="-20" max="20" value="0">
      </div>
      <div class="slider-container">
          <label>2 kHz</label>
          <input type="range" id="treble" class="slider" min="-20" max="20" value="0">
      </div>
      <div class="slider-container">
          <label>4 kHz</label>
          <input type="range" id="presence" class="slider" min="-20" max="20" value="0">
      </div>
      <div class="slider-container">
          <label>8 kHz</label>
          <input type="range" id="brilliance" class="slider" min="-20" max="20" value="0">
      </div>
      <div class="slider-container">
          <label>16 kHz</label>
          <input type="range" id="air" class="slider" min="-20" max="20" value="0">
      </div>
  </div>
  <div class="reset-btn-eq" onclick="reset()"><span>Reset</span></div>
</div>
<div class="blur" id="blur" onclick="eqbtn()"></div>
<!--eq ends here-->



<audio id = "audio-player" ontimeupdate="updateProgress()" onloadedmetadata="updateDuration()"></audio>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script src = "{{ url_for('static', filename="js/main.js")}}"></script>
</html>